.buttonStandard {
    margin-bottom: 10px;
    padding: 10px 22px;
    border-radius: 25px;
    font-size: 16px;
    background-color: $color1;
    border: 1px solid $color1;
    color: #fff;
    font-weight: 500;
    &:hover {
     background-color: $color2;
     cursor: pointer;   
    }
}


.linkStandard {
        color: $color1;
        &:hover{
            color: $color2;
        }
    }