@import "../../src/Sass/variables.scss";

/*Reset CSS*/
*{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
    

body {
    background-color: #f0f0f0;
}

.container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%; 
    margin: 0px auto;
}

h1 {
    color: $color1;
    font-size: 36px;
}

h2 {
    color: $color1;
    font-size: 24px;
}

h3 {
    color: $color1;
    font-size: 20px;
}

p {
    color: $main-color;
    font-size: 16px;
}  