/*Reset CSS*/
*{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: red!important;
}

.container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 1200px;
    width: 90%; 
    margin: auto;
  }