// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$osf-font: 'Lato', Helvetica, sans-serif;
$primary-font: Arial, Helvetica, sans-serif;
$t-banner-font: 'Myriad', $osf-font, Arial;

// Colors
$color1: #006276 ;   // green color 
$color2: #0f7185;  // green color 
$main-color: #45413e;       // button opacity color
$base-color: #ffffff;       // background bright color
$back-color: #262a32;       // background dark color  
$opacity-color: #bdc3c7;    // down point on menu language and currency 
$fb-color: #3a5b96;         // facebook button
$icon-color1: #23c46e;      // icons
$back-color0: #E8E2D6;      // gray color background

//Something else