# Next.js
.next/
out/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*.local
.env

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# Supabase
supabase/

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# vercel
.vercel

# prisma
/prisma/db.sqlite
