# Database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# Site URLs
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_LOCAL_CALLBACK_URL=

# Google Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS=

# SheetDB
NEXT_PUBLIC_SHEETDB_API_URL=
SHEETDB_API_KEY=

# Google Maps (Server-side only)
GOOGLE_MAPS_API_KEY=
