.bannerHome {
  background-image: url("https://raw.githubusercontent.com/paulpessoa/menvo/main/src/assets/img/menvopeople.jpg");
  background-size: cover;
}
.bannerHomeGlass {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .divl,
  .divr {
    min-width: 50%;
    padding: 10px;
  }
  img {
    max-width: 80%;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.sectionWay {
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    font-size: 32px;
    color: $color1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container {
    justify-content: space-between;
    .cardWay {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      justify-content: space-evenly;
      border-radius: 6px;
      height: 250px;
      width: 300px;
      background-color: #fff;
      padding: 20px;

      box-shadow: 1px 1px 20px 1px #d6d6d6;
      margin: 10px;
      &:hover {
        box-shadow: 1px 1px 14px 2px #b6b6b6;
      }
    }
    h3 {
      text-align: center;
      font-size: 18px;
      color: $color1;
    }
  }
}

.sectionMeet {
  background-color: blue;
  height: 300px;
}

.sectionPurpuse {
  background-color: green;
  height: 300px;
}

.sectionContact {
  background-color: red;
  height: 300px;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    .divr,
    .divl {
      width: 90%;
      margin: 0px auto;
      text-align: center;
      h1 {
        font-size: 22px;
      }
      p {
        text-align: justify;
        padding: 10px;
      }
    }
  }
}
