@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215.4 16.3% 46.9%;
    --card: 189 100% 97%;
    --card-foreground: 189 100% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 215.4 16.3% 46.9%;
    --primary: 189 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 32 95% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 48 100% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 32 95% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 189 100% 97%;
    --input: 0 0% 100%;
    --ring: 189 100% 19%;
    --radius: 0.5rem;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 215.4 16.3% 46.9%;
    --sidebar-primary: 32 95% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 189 100% 19%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 189 100% 97%;
    --sidebar-ring: 189 100% 19%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 189 70% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 189 70% 30%;
    --sidebar: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 32 95% 44%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 189 70% 30%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 189 70% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
