
.footer{
    background-color: green;
    width: 100%;
}

.social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    li {
        margin: 0 1em;
    }
    svg {
        font-size: 2rem;
        color: $color1;
        &:hover {
            color: $color2;
        }
    }
}