.Mentors {
  display: flex;
  align-items: start;
  margin: 0px auto;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  .container {
    align-items: start;
  }
}

.sideBar {
  margin: 10px;
  width: 25%;
}

.feedMentor {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
