/*Reset CSS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #f0f0f0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.buttonStandard {
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px 22px;
  position: relative;
  animation-name: menu;
  animation-duration: 1.3s;
  transition: 80ms;
  border-radius: 25px;
  font-size: 16px;
  background-color: #006276;
  border: 1px solid #006276;
  color: #fff;
  font-weight: 500;
}
.buttonStandard:hover {
  background-color: #0f7185;
  cursor: pointer;
}

.linkStandard {
  color: #006276;
}
.linkStandard:hover {
  color: #0f7185;
}

.bannerHome {
  background-image: url("https://raw.githubusercontent.com/paulpessoa/menvo/main/src/assets/img/menvopeople.jpg");
  background-size: cover;
}

.bannerHomeGlass {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bannerHomeGlass img {
  width: 500px;
}
.bannerHomeGlass h1 {
  font-size: 36px;
  color: #006276;
}
.bannerHomeGlass p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #262a32;
}

.sectionWay {
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectionWay h2 {
  text-align: center;
  font-size: 32px;
  color: #006276;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectionWay .container {
  justify-content: space-between;
}
.sectionWay .container .cardWay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 6px;
  height: 250px;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 1px 20px 1px #d6d6d6;
  margin: 10px;
}
.sectionWay .container .cardWay:hover {
  box-shadow: 1px 1px 14px 2px #b6b6b6;
}
.sectionWay .container h3 {
  text-align: center;
  font-size: 18px;
  color: #006276;
}
.sectionWay p {
  color: #262a32;
}

.sectionMeet {
  background-color: blue;
  height: 300px;
}

.sectionPurpuse {
  background-color: green;
  height: 300px;
}

.sectionContact {
  background-color: red;
  height: 300px;
}

.Mentors {
  display: flex;
  margin: 0px auto;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Mentors .container {
  align-items: start;
}

.sideBar {
  margin: 10px;
  width: 25%;
}

.feedMentor {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.filterButonIcon {
  border-radius: 50px;
  position: fixed;
  background-color: #006276;
  bottom: 20px;
  left: 20px;
  padding: 14px;
}
.filterButonIcon:hover {
  background-color: #0f7185;
  cursor: pointer;
}
.filterButonIcon svg {
  color: #fff;
  z-index: 10;
  font-size: 24px;
}

.Mentors {
  display: flex;
  margin: 0px auto;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Mentors .container {
  align-items: start;
}

.sideBar {
  margin: 10px;
  width: 25%;
}

.cardDetailsMentor {
  margin: 10px;
}

.feedMentor {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.filterButonIcon {
  border-radius: 50px;
  position: fixed;
  background-color: #006276;
  bottom: 20px;
  left: 20px;
  padding: 14px;
}
.filterButonIcon:hover {
  background-color: #0f7185;
  cursor: pointer;
}
.filterButonIcon svg {
  color: #fff;
  z-index: 10;
  font-size: 24px;
}

.UserAccess {
  height: 80vh;
}
.UserAccess .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
}
@media (max-width: 630px) {
  .UserAccess {
    padding: 10px;
  }
}

header {
  width: 100%;
  background-color: #fff;
}
header img {
  width: 160px;
  margin-right: 0;
  padding: 15px 0;
  margin: 0px;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #006276;
  font-size: 16px;
  padding: 1rem;
  transition: all 250ms linear 0s;
  position: relative;
  animation-name: menu;
  animation-duration: 1s;
  transition: 100ms;
}
header nav ul li a:hover {
  color: #0f7185;
}

header nav ul li a button {
  position: relative;
  animation-name: menu;
  animation-duration: 1s;
  transition: 100ms;
  border-radius: 25px;
  margin-top: -10px;
  padding: 8px 22px;
  background-color: #006276;
  border: 2px solid #006276;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: -20px;
}
header nav ul li a button:hover {
  background-color: #0f7185;
  border: 2px solid #0f7185;
}

header nav ul li a .FiLogOut {
  position: relative;
  top: 2px;
  left: 2px;
}

@keyframes menu {
  0% {
    left: 0px;
    top: -100px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 630px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .form-group {
    display: block;
  }
}
@media (max-width: 1020px) {
  .menu-section nav {
    display: none;
  }

  .one,
.two,
.three {
    background-color: #006276;
    height: 5px;
    max-width: 1020px;
    width: 90%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  /*Fullscreen*/
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #006276;
    z-index: 10;
    /*camada acima, evitar o scrool dos itens a baixo*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: #fff;
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1rem;
    display: block;
    color: #fff;
    padding: 1rem;
  }

  .menu-section.on nav ul a button {
    transition-duration: 0.5s;
    font-size: 1rem;
    display: block;
    color: #fff;
    padding: 1rem;
    border-radius: 50px;
    padding: 8px 22px;
    background-color: #fff;
    border: 2px solid #fff;
    color: #006276;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .menu-section.on nav ul a button:hover {
    background-color: #bedce2;
    border: 2px solid #bedce2;
    color: #004350;
  }

  header nav ul li a .FiLogOut {
    width: 40px;
  }

  .menu-section.on nav ul .hide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  #form h3 {
    font-size: 1rem;
  }
}
.footer {
  width: 100%;
  padding: 10px;
}
.footer .social_list {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.footer .social_list li {
  margin: 0 0.8em;
}
.footer .social_list svg {
  font-size: 1.4rem;
  color: #006276;
}
.footer .social_list svg:hover {
  color: #0f7185;
}
.footer p {
  text-align: center;
}

.cardMentor {
  min-width: 150px;
  width: 100%;
  margin: 10px auto;
  border-radius: 6px;
  transition: 0.1s;
  box-shadow: 0.1px 0.1px 4px #c0c0c0;
  background-color: #fff;
}
.cardMentor:hover {
  transition: 0.3s;
  box-shadow: 0.1px 0.1px 8px #959595;
}
.cardMentor .cardMentorPhoto {
  overflow: hidden;
  position: relative;
  border-radius: 6px 6px 0px 0px;
}
.cardMentor .cardMentorPhoto img {
  padding: -5px;
  top: 0;
  border-radius: 6px 6px 0px 0px;
  background-size: cover;
  height: 220px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  transform: scale(1.06);
}
.cardMentor .cardMentorPhoto img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.cardMentor .mainSubject h3 {
  top: 10px;
  right: 10px;
  text-align: right;
  position: absolute;
  background-color: #006276;
  padding: 4px 14px;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}
.cardMentor .mainSubject h3:hover {
  background-color: #0f7185;
}
.cardMentor .infoMentor {
  padding: 25px;
}
.cardMentor .infoMentor p {
  margin: 20px auto;
  font-size: 16px;
  color: #3b3b3b;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 80px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.cardMentor .infoMentor button {
  width: 100%;
}

@media screen and (min-width: 1201px) and (max-width: 4000px) {
  .cardMentor {
    max-width: 30%;
  }

  .filterButonIcon {
    display: none;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .cardMentor {
    max-width: 45%;
  }

  .filterButonIcon {
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .cardMentor {
    max-width: 40%;
  }

  .sideBar {
    display: none;
  }

  .feedMentor {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .sideBar {
    display: none;
  }

  .feedMentor {
    width: 100%;
  }

  .cardMentor {
    max-width: 90%;
  }
}
.cardSingleMentor {
  display: flex;
  max-width: 90%;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0.1px 0.1px 4px #c0c0c0;
  background-color: #fff;
  padding: 20px;
  flex-direction: row;
  align-items: center;
}
.cardSingleMentor .cardMentorPhoto {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  margin: 0px 20px 20px;
  overflow: hidden;
  position: relative;
  border: 4px solid #b0b0b0;
  transition: 0.4s ease;
  box-shadow: 0.1px 0.1px 8px #c0c0c0;
}
.cardSingleMentor .cardMentorPhoto:hover {
  border: 4px solid #0f7185;
  transition: 0.5s ease;
  box-shadow: 0.1px 0.1px 8px #c0c0c0;
}
.cardSingleMentor .cardMentorPhoto img {
  top: 0;
  background-size: cover;
  height: 220px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  transform: scale(1.06);
}
.cardSingleMentor .cardMentorPhoto img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.cardSingleMentor .infoMentor {
  width: 70%;
  padding: 25px;
}
.cardSingleMentor .infoMentor .mainSubject h3 {
  float: right;
  background-color: #006276;
  padding: 4px 14px;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}
.cardSingleMentor .infoMentor .mainSubject h3:hover {
  background-color: #0f7185;
}
.cardSingleMentor .infoMentor p {
  margin: 40px auto;
  font-size: 16px;
  color: #3b3b3b;
  text-align: justify;
}

.starsMentor {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1201px) and (max-width: 4000px) {
  .cardSingleMentor {
    max-width: 90%;
  }

  .filterButonIcon {
    display: none;
  }
}
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .cardMentor {
    max-width: 45%;
  }

  .filterButonIcon {
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .cardMentor {
    max-width: 40%;
  }

  .sideBar {
    display: none;
  }

  .cardSingleMentor {
    flex-wrap: wrap;
    max-width: 80%;
  }
  .cardSingleMentor .divName {
    margin: 0px auto;
  }
  .cardSingleMentor .infoMentor {
    min-width: 85%;
  }
}
@media screen and (max-width: 600px) {
  .sideBar {
    display: none;
  }

  .cardMentor {
    max-width: 90%;
  }

  .cardSingleMentor {
    flex-wrap: wrap;
    max-width: 80%;
  }
  .cardSingleMentor .divName {
    margin: 0px auto;
  }
  .cardSingleMentor .infoMentor {
    min-width: 85%;
  }
}
.sidebarMentor {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0.1px 0.1px 4px #c0c0c0;
}
.sidebarMentor h4 {
  color: #006276;
  margin: 12px 0px;
}
.sidebarMentor ul {
  display: flex;
  flex-direction: column;
}
.sidebarMentor ul li {
  text-align: left;
}
.sidebarMentor ul li input {
  margin-bottom: 10px;
}
.sidebarMentor ul li label {
  margin-left: 10px;
}
.sidebarMentor ul button {
  float: right;
  margin-top: 20px;
}

.searchInput {
  max-width: 100%;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  padding: 12px 22px;
  border-radius: 25px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.formLogin {
  margin: 50px auto;
  text-align: center;
}
.formLogin h3 {
  margin-bottom: 20px;
  position: relative;
  animation-name: menu;
  animation-duration: 1.4s;
  transition: 110ms;
}
.formLogin form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.formLogin form input {
  max-width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 12px 22px;
  position: relative;
  animation-name: menu;
  animation-duration: 1.3s;
  transition: 80ms;
  border-radius: 25px;
  font-size: 16px;
  background-color: #f0f0f0;
}
.formLogin form ul {
  position: relative;
  animation-name: menu;
  animation-duration: 0.8s;
  transition: 80ms;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.formSchedule {
  margin: 50px auto;
}
.formSchedule h3 {
  margin-bottom: 20px;
  position: relative;
  animation-name: menu;
  animation-duration: 1.4s;
  transition: 110ms;
}
.formSchedule form {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.formSchedule form input, .formSchedule form textarea {
  max-width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 12px 22px;
  position: relative;
  animation-name: menu;
  animation-duration: 1.3s;
  transition: 80ms;
  border-radius: 25px;
  font-size: 16px;
}
.formSchedule form textarea {
  resize: none;
  min-height: 70px !important;
}
.formSchedule form ul {
  position: relative;
  animation-name: menu;
  animation-duration: 0.8s;
  transition: 80ms;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

/*# sourceMappingURL=App.css.map */
